@font-face {
  font-family: Jockey;
  src: url("../src/assets/fonts/JockeyOne-Regular.ttf");
}
@import "tailwindcss";

@theme {
  --font-jockey: Jockey, "sans-serif";
  --color-buttonbackground: #d7dfcb;
}
